<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Top Up Game Termurah Hanya Di GuzStore">
    <meta name="author" content="GuzUhuy">
    <meta property="og:image" content="https://i.ibb.co/ZgmQ6Rq/icon.jpg"/>
    <title>Guz Store</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://i.ibb.co/ZgmQ6Rq/icon.jpg"/> 
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
   
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style type="text/css">

 .lagu{

 background:transparent; 	border:2px solid silver; 	font-family:Share Tech Mono; 	color:white; 	font-size:18x; 	font-weight:bold; 	padding:3px 29px; 	text-decoration:none; 	text-shadow:0px 0px 20px #15CFF4; 

} 

</style>
<style>
guzp {
display: flex;
justify-content: center;
}
</style>
  <script>

 function play(){

 var audio = document.getElementById('lagu'); audio.play();

}

 function liat(){

 document.getElementById('galiat').style.visibility='visible'; 

} 

</script>                         
</head>

<body id="page-top" class="dark-mode">
 
    <div id="wrapper">
   
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs">
                <img src="images/icon.png" class="rounded-circle shadow-4"style="width: 50px;" alt="Avatar" />
                <div class="sidebar-brand-text mx-3">Guz Store</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/statistic">
                    <i class="fas fa-fw fa-thermometer-three-quarters"></i>
                    <span>Statistic</span></a>
            </li>
            
          


            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Contact
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://api.whatsapp.com/send/?phone=%2B6281312427451&text&type=phone_number&app_absent=0">
                    <i class="fab fa-fw fa-whatsapp">WhatsApp</i>
                    <span></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://instagram.com/mankaguz_store">
                    <i class="fab fa-fw fa-instagram">Instagram</i>
                    <span></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.tiktok.com/@guzuhuy">
                    <i class="fab fa-fw fa-tiktok">TikTok</i>
                    <span></span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
              
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
<div class="text-md-left font-weight-bold mb-2 text-primary">Hallo Selamat Datang Di GuzStore</div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="images/icon.png" class="rounded-circle shadow-4"style="width: 50px;" alt="Avatar" />
                                <span class="ml-2 d-none d-lg-inline small font-weight-bold">Alip</span>
                            </a>
                        </li>
                    </ul>
                </nav>

    <guzp>
            <img src="https://i.ibb.co/0sz89rc/slider2.png" height="200px" width="560px">
</guzp>
    
    <br>

       

                <div class="container-fluid" id="container-wrapper">
                    <div class="card h-50 mb-4">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">Top Up Game</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-quote-right fa-2x text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor</div>
                                            <div class="h5 mb-0 font-weight-bold" id="visitor">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-eye fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Battery</div>
                                            <span id="battery_level" class="h5 mb-0 font-weight-bold">Waiting... </span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-battery-full" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                         <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Road To Raya Haji</div>
                                            <div class="h5 mb-0 font-weight-bold" id="jadwaltime">Waiting... </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Jam</div>
                                            <div class="h5 mb-0 font-weight-bold" id="row-no-guttersalign-items-center">00:00:00</div>
                                            <div class="h5 mb-0 font-weight-bold" id="text-xsfont-weight-boldtext-uppercase-mb-1">Selamat Pagi</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div id="findipurl"> <a href="find-ip.net" ></a></div>

                <script defer src="https://api.find-ip.net/widget.js?width=220&bg=%23152232&border=%230e1824&textcol=%23d3d5f3&language=0&system=0&"></script>


                    <div class="Box mt-4">
                        <div class="Box-body p-4">
                          <div class="d-flex flex-justify-between">
                            <div class="text-mono text-small mb-3">
                            </div>
                          </div>
                              
                       
                  <guzp>
                    <button class="lagu" onclick="play();liat();"> <font face="Rancho" size="4" color="yellow">Play Music 1</font></button><audio id="lagu" src="https://www.mboxdrive.com/y2mate.com%20-%20Damon%20Empero%20ft%20Veronica%20%20Vacation%20%20remix%20.mp3"></audio>
                    </guzp>
                    
                  <!---<guzp>
                    <button class="lagu" onclick="play();liat();"> <font face="Rancho" size="4" color="yellow">Play Music 2</font></button><audio id="lagu" src="https://www.mboxdrive.com/y2mate.com%20-%20DJ%20MONSTER%20FULL%20BASS.mp3"></audio>
                    </guzp>--->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Contact Me
                            <p>
                                <a href="https://api.whatsapp.com/send/?phone=%2B6281312427451&text&type=phone_number&app_absent=0" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fab fa-fw fa-whatsapp"></i>&nbsp;WhatsApp</a>
                                <a href="https://instagram.com/mankaguz_store" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-instagram"></i>&nbsp;Instagram</a>
                                <a href="https://www.tiktok.com/@guzuhuy" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-tiktok"></i>&nbsp;TikTok</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
             
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Made with <i class="fa fa-heart"></i> by
                        <a href="https://github.com/AlipBot" target="_blank" style="color: rgb(255, 234, 0);">GuzUhuy</a>
                        </span>
                    </div>
                </div>
            </footer>
       
        </div>
    </div>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

          
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="js/menu.js"></script>
    

</body>

</html>